* {
    margin: 0;
    padding: 0;
    justify-content: center;
    box-sizing: border-box;
}

.header-logo {
    padding: 80px 0;
}

.center-text {
    text-align: center;
}

a:hover {
    opacity: 0.5;
}

.entry-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    max-width: 420px;
    margin: 0 auto;
    padding-bottom: 35px;
    text-align: center;
}

h1.entry-title .fa-heart::before {
    color: #f277ae;
}

.fa-heart::before {
    content: "\f004";
}

.fa {
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
}